<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="__PUBLIC__/Home/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" tyle="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="js/common_js.js" type="text/javascript"></script>
<script src="js/footer.js" type="text/javascript"></script>
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
<title>购物车-火源网www.5l99.cn-模板,源码交易!织梦源码,织梦模板,网站模板,网站源码</title>
<script type="text/javascript">
$(document).ready(function () {
   //全选
   $("#CheckedAll").click(function () {
     if (this.checked) {                 //如果当前点击的多选框被选中
       $('input[type=checkbox][name=checkitems]').attr("checked", true);
     } else {
       $('input[type=checkbox][name=checkitems]').attr("checked", false);
     }
   });
   $('input[type=checkbox][name=checkitems]').click(function () {
     var flag = true;
     $('input[type=checkbox][name=checkitems]').each(function () {
       if (!this.checked) {
         flag = false;
       }
     });

     if (flag) {
       $('#CheckedAll').attr('checked', true);
     } else {
       $('#CheckedAll').attr('checked', false);
     }
   });
   //输出值
   $("#send").click(function () {
        if($("input[type='checkbox'][name='checkitems']:checked").attr("checked")){
     var str = "你是否要删除选中的商品：\r\n";
     $('input[type=checkbox][name=checkitems]:checked').each(function () {
       str += $(this).val() + "\r\n";
     })
     alert(str);
      }
      else{
         var str = "你为选中任何商品，请选择后在操作！"; 
         alert(str);
       }
          
   });
})
</script>
</head>
<!--宽度1000的购物车样式-->
<body>
<include file="Public/user_top" />
<div id="shop_cart">
 <div id="header">
  <div class="logo">
  <a href="#"><img src="images/logo.png" /></a>
  <div class="phone">
   免费咨询热线:<span class="telephone">400-3454-343</span>
  </div>
  </div>
  <div class="Search">
    <p><input name="" type="text"  class="text"/><input name="" type="submit" value=""  class="Search_btn"/></p>
  <p class="Words"><a href="#">苹果</a><a href="#">香蕉</a><a href="#">菠萝</a><a href="#">西红柿</a><a href="#">橙子</a><a href="#">苹果</a></p>
 </div>
</div>
<!--提示购物步骤-->

 <div class="prompt_step">
  <img src="images/cart_step_01.png" />
 </div>
 <!--购物车商品-->
 <div class="Shopping_list">
  <div class="title_name">
    <ul>
  <li class="checkbox">&nbsp;</li>
  <li class="name">商品名称</li>
  <li class="scj">本店价</li>
  <li class="bdj">市场价</li>
  <li class="sl">购买数量</li>
  <li class="xj">小计</li>
  <LI class="cz">操作</LI>
  </ul>
 </div>
  <div class="shopping">
  <form  method="post" action="">
 <table class="table_list">

    <foreach name="aa" item="ov">  
     <tr class="tr on">
     <td class="checkbox" id="a"><input name="goods_name" type="checkbox" value="{$ov.cart_id}" /></td>
     <td class="name">
     <div class="img"><a href="#"><img src="__ROOT__/{$ov.goods_img}" width="50" hegiht="50" /></a></div>
     <div class="p_name"><a href="#">{$ov.goods_name}</a></div>
     </td>
  <td class="scj sp">{$ov.goods_price}</td>
  <td class="bgj sp">{$ov.goods_prices}</td>
  <td class="sl">
      <div class="Numbers">
      <a href="javascript:void(0);" onclick="updatenum('del');" class="jian">-</a>
      <input id="number" name="number" type="text" value="{$ov.buy_number}" class="number_text">
      <a href="javascript:void(0);" onclick="updatenum('del');" class="jia">+</a>
     </div>
  </td>
  <td class="xj" ><?php echo $ov['goods_price']*$ov['buy_number'] ?></td>
  <td class="cz">
   <p><a href="{:U('Cart/cart_del')}?cart_id={$ov.cart_id}">删除</a><P>
   <p><a href="#">收藏该商品</a></p>
  </td>
   </tr>
    </foreach>
 </table>
 <script>

 </script>
 <div class="sp_Operation">
  <div class="select-all">
  <div class="cart-checkbox"><input type="checkbox"   id="CheckedAll" name="toggle-checkboxes" class="jdcheckbox" clstag="clickcart">全选</div>
  <div class="operation"><a href="javascript:void(0);" id="send">删除选中的商品</a></div> 
    </div> 
     
   <!--结算-->
  <div class="toolbar_right">
    <div class="p_Total">
    <span class="text" id="zj"><a id="jiesuan">商品总价</a>：</span><span class="sumPrice" >
    </span>
  </div>
  <div class="btn">
   <p class="cartsubmit"></p>
   <a class="continueFind" href="{:U('Goods/goods_list')}"></a>
  </div>
  </div>
  </div>
   </form>
 </div>

</div>
<!--底部样式-->
<include file="Public/user_footer" />

<!--结束-->
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/jquery-1.8.2.min.js">
</script>
<script type="text/javascript">
$(function(){
    $("input[name='goods_name']").click(function(){
      var shop = $(".table_list").find("tr");
      var count = 0;
      $.each(shop,function(){
        if($(this).find("input[name='goods_name']").is(":checked")){
          var xj = parseInt($(this).find(".scj").html());
          var number = parseInt($(this).find("input[name='number']").val());
          count = parseInt(count+xj*number);
        }
      })

      if(count == 0){
        // alert('没有选中的商品');
      }else{
        $(".sumPrice").html(count);
      }
    })

    $(".cartsubmit").click(function(){
      var id="";
      var goods_name=$("input[name='goods_name']:checked").val([]);
      var price_num=$(".sumPrice").html();
      for(var i=0;i<goods_name.length;i++){ 
          id +=","+ goods_name[i].value; 
         }
         id=id.substr(1);
        $.ajax({
        type:"post",
        url:"{:U('Cart/show')}",
        dataType:"JSON",
        data:{
          "id":id,
          "price_num":price_num
        },
        success:function(data){
           alert(data.msg);
          if(data.error==0){
          location.href="{:U('Cart/orders')}";
        }
      }
     }); 
   });
});


</script>
</html>
