<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="__PUBLIC__/Home/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script src="js/common_js.js" type="text/javascript"></script>
<script src="js/jquery.foucs.js" type="text/javascript"></script>
<title>修改密码-火源网www.5l99.cn-模板,源码交易!织梦源码,织梦模板,网站模板,网站源码</title>
</head>

<body>
<!--顶部样式-->
<include file="Public/user_top" />
<!--logo和搜索样式-->
<include file="Public/user_header" />
<!--导航栏样式-->
<include file="Public/user_menu" />
<!--修改密码样式-->
<div class="user_style clearfix" id="user">
<div class="user_title"><em></em>用户中心</div>
  <div class="clearfix user" >
  <!--左侧菜单栏样式-->
<include file="Public/user_left" />
    <!--右侧样式-->
    <div class="right_style r_user_style user_right">
      <div class="user_Borders">     
       <div class="title_name">
        <span class="name">修改密码</span>
       </div>
       <!--修改密码样式-->
       <div class="about_user_info">
        <form id="form1"  method="post" action="{:U('User/user_pwd')}">   
       <div class="user_layout">
         <ul >
          <li><label class="user_tname">原密码：</label>
          <input name="user_pwd" type="password"  class="add_text"/><i>*</i>
          </li>
          <li>
          <label class="user_title_name">新密码：</label>
          <input name="users_pwd" type="password"  class="add_text"/><i>*</i>
          </li>
          <li><label class="user_title_name">确认新密码：</label>
          <input name="users_pwds" type="password"  class="add_text"/><i>*</i>
          </li>         
         </ul>
         <div class="operating_btn"><input id="age" type="button" value="确认"  class="submit—btn"/></div>
         </div>
          </form>
        
       </div>
      </div>
    </div>
  </div>
</div>
<include file="Public/user_footer" />
 <!--右侧菜单栏购物车样式-->
<include file="Public/box" />
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/jquery-1.8.2.min.js"></script> 
<script type="text/javascript">
      $(function(){
        // alert($);
        $("input[name='user_pwd']").blur(function(){
          $(this).next().remove();
          var obj=$(this);
          var user_pwd=$(this).val();
           // alert(user_pwd);
          if(user_pwd==""){
            $(this).after("<span class='error' style='color:red'>原密码不能为空</span>");
          }

        });

        $("input[name='users_pwd']").blur(function(){
          $(this).next().remove();      
          users_pwd=$(this).val();
          if(users_pwd==""){
            $(this).after("<span class='error' style='color:red'>新密码不能为空</span>");
          }

        });
        $("input[name='users_pwds']").blur(function(){
          $(this).next().remove();      
          users_pwds=$(this).val();
          if(users_pwds==""){
            $(this).after("<span class='error' style='color:red'>不能为空</span>");
          }

          if(users_pwds!=users_pwd){
            $(this).after("<span class='error' style='color:red'>新密码不一致</span>");
          }

        });

        $("#age").click(function(){
          $.ajax({ 
          type:"post",
          url:"{:U('User/user_Password')}",
          data:{
            "user_pwd":users_pwd
          },
          dataType:"json",
          success:function(data){
            alert(data.msg);
            if(data.error==0){
              location.href="{:U('Login/login_do')}";
            }
          }
          });
        });

      });

  
</script>
